@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.ttf?t=1657249290807') format('truetype');
}


/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

a:hover {
    color: black;
}

.logo {
    position: relative;
    width: 120px;
    height: 70px;
    background: url('../imges/logo_black_horizontal.png');
    background-size: cover;
    margin: 0 auto;
    top: 50px;
    /* margin-top: 50px; */
    margin-bottom: 70px;
}

form {
    position: relative;
    width: 376px;
    margin: 0 auto;
    top: 0px;
    /* margin-top: 100px; */
    background-color: rgba(175, 188, 249, 0.6);
    padding: 20px 30px;
    text-align: right;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    /* box-shadow: 10px 10px 55px #888888; */
}

form h2 {
    margin-bottom: 30px;
    color: #fff;
}

form li {
    position: relative;
    width: 316px;
    height: 65px;
    text-align: left;
    /* background-color: pink; */
}

form input {
    width: 100%;
    height: 33px;
    border-radius: 15px;
    padding: 6px 30px;
    color: black;
    font-size: 14px;
}

form i {
    margin-left: 26px;
    color: rgb(255, 38, 0);
    font-size: 12px;
}
form .verificInput {
    float: left;
    width: 140px;
    padding-right: 10px;
}

form .verificImg {
    float: left;
    width: 83px;
    height: 33px;
    margin-left: 15px;
}

form .verificChange {
    float: right;
    width: 70px;
    height: 33px;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    background-color: #5fa3fc;
    border-radius: 15px;
}

form .wordline {
    height: 30px;
}

form .rember {
    float: left;
    position: relative;
    font-size: 12px;
    margin-left: 20px;
    color: #fff;
}

form .rember .iconfont {
    position: absolute;
    top: -2px;
    left: -18px;
    font-size: 16px;
}

form .rember:hover {
    cursor: pointer;
}

form .lostPassword {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #fff;
}

form .lostPassword:hover {
    cursor: pointer;
    color: rgb(0 255 220);
}

form #commit {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 31px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    transition: padding-right .4s ease;
    background-size: 120% auto;
        background-image: linear-gradient(315deg, #f351ba 15%, #7b3eff 75%);
}

form #commit span {
    position: absolute;
    right: 50px;
    top: 3px;
    font-family: "iconfont" !important;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    transition: opacity .4s ease;
    transition: right .4s ease;
}

form #commit:hover {
    cursor: pointer;
    padding-right: 30px;
    background-color: rgb(252, 253, 250);
}

form #commit:hover span {
    opacity: 0.8;
    right: 70px;
}

form .accord::before,
form .password::before,
form .verification::before {
    content: '\e60a';
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 8px;
    color: #5fa3fc;
}

form .accord::before {
    top: 6px;
}

form .password::before {
    content: '\e60f';
}
form .verification::before {
    content: '\e6a0';
}

form .eye {
    position: absolute;
    top: 3px;
    right: 8px;
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5fa3fc;
}
form .eye:hover {
    cursor: pointer;
}

form .returnRegister {
    float: left;
    font-size: 12px;
    color: #fff;
}

form .returnRegister:hover {
    cursor: pointer;
}

form .tips {
    display: block;
    color: #fff;
    font-size: 12px;
    /* margin-top: 10px; */
}

/* 注册界面的增加 */
form .verificGet {
    float: right;
    width: 100px;
    height: 33px;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    background-color: #5fa3fc;
    border-radius: 15px;
}

form .returnLogin {
    float: left;
    font-size: 12px;
    color: #fff;
}

form .returnLogin:hover {
    cursor: pointer;
}

form .question {
    float: right;
    font-size: 12px;
    color: #fff;
}

form .question:hover {
    cursor: pointer;
    color: rgb(0 255 220);
}