#postDetail-left {
    float: left;
    margin-top: 102px;
    width: 780px;
    /* height: 1500px; */
    font-size: 14px;
    /* background-color: pink; */
    margin-bottom: 30px;
}

#poostDetail-left-top {
    overflow: hidden;
    width: 100%;
    /* height: 900px; */
    font-size: 14px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 14px #eee;
}

#post-title {
    width: 740px;
    margin-left: 20px;
    margin-top: 10px;
    height: 100px;
    padding: 0 15px; 
    border-bottom: 1px solid #ccc;
}

#post-title-left {
    position: relative;
    width: 610px;
    height: 100%;
    float: left;
    /* background-color: green; */
}

#post-title-left>h2 {
    display: block;
    margin-bottom: 10px;
    font-size: 23px;
    color: black !important;
}

#post-title-left>img {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 100%;
}

#post-title-left img:hover {
    cursor: pointer;
}

#post-title-left img:hover ~ .panel {
    display: block;
}

#post-title-left i {
    color: rgb(99, 99, 239);
    font-weight: bold;
    font-size: 16px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#post-title-left>span {
    margin-left: 15px;
    margin-right: 8px;
    color: #444;
}

#post-title-right {
    width: 100px;
    height: 100%;
    float: right;
    padding-top: 40px;
}

#post-body {
    width: 740px;
    margin-left: 20px;
    margin-top: 10px;
    /* height: 200px; */
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
}

#post {
    width: 100%;
    /* height: 400px; */
    font-size: 16px;
    line-height: 32px;
    color: black !important;
    /* background-color: #ccc; */
    margin: 10px 0 15px 0;
}

#post-footer {
    width: 740px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#post-footer i {
    font-size: 18px;
    color: orange;
    margin: 0 10px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#post-footer a:first-child {
    float: left;
    margin-right: 20px;
}

#post-footer a:nth-child(2) {
    float: right;
}

#post-footer a:hover {
    cursor: pointer;
    color: orange;
}

#postDetail-left-bottom {
    overflow: hidden;
    width: 100%;
    /* height: 600px; */
    padding-bottom: 30px;
    font-size: 14px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 14px #eee;
    margin-top: 15px;
}

#comments-title {
    width: 740px;
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
    padding: 0 15px; 
    border-bottom: 1px solid #ccc;
}

#comments-title div:first-child {
    float: left;
    line-height: 40px;
}

#commentSort {
    float: left;
    margin-left: 40px;
}

#commentSort a {
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    margin-left: 15px;
    /* color: black;   */
}

#commentSort a:first-child {
    margin-left: 0;
}

#commentSort a:hover {
    cursor: pointer;
    color: orange;
    font-weight: bold;
}

#commentSort a::after{
    font-size: 12px;
    margin-left: 5px;
    content: "\ee31";
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#replies {
    float: right;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    background-color: orange;
    color: #fff;
}

#replies:hover {
    cursor: pointer;
    box-shadow: 3px 3px 14px #ccc;
    margin-top: -2px;
    font-size: 15px;
}

#rootComment {
    width: 740px;
    margin-left: 20px;
    margin-top: 15px;
    /* background-color: #eee; */
}

#rootComment>li {
    width: 100%;
    padding: 25px 15px;
}

.rootComment-left {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
}

.rootComment-left:hover {
    cursor: pointer;
}

.rootComment-left:hover .panel {
    display: block;
}

/* 头像 */
.panel {
    display: none;
    position: absolute;
    top: 15px;
    left: 22px;
    width: 310px;
    height: 200px;
    /* background: pink; */
    z-index: 10;
    padding: 15px 15px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgb(229, 229, 229);
    border-radius: 8px;

}

.panel:hover {
    display: block;
}

.panel .panel_hd {
    width: 280px;
    height: 60px;
}

.panel img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.panel .personInfo {
    float: left;
    width: 215px;
    height: 60px;
    /* background-color: blue; */
    margin-left: 5px;
    text-align: left;
}
.panel .personInfo  span{
    line-height: 20px;
}

.panel .personInfo  span:nth-child(3){
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: green;
    font-size: 17px;
}
.panel .personInfo  span:nth-child(4) {

    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: red;
    font-size: 20px;
}

.panel .panel_bd {
    width: 280px;
    height: 43px;
    /* background-color: pink; */
    margin-top: 20px;
}

.panel .panel_bd li {
    float: left;
    width: 70px;
    height: 43px;
    line-height: 20px;
    text-align: center;
    border-left: 1px solid gray;
    color: gray;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 2px 0;
}
.panel .panel_bd li:first-child {
    border: none;
}
.panel .panel_ft {
    width: 280px;
    height: 32px;
    margin-top: 10px;
}

.panel .panel_ft a{
    float: left;
    width: 130px;
    height: 32px;
    line-height: 32px;
    border: 1px solid gray;
    text-align: center;
}
.panel .panel_ft a:last-child{
    float: right;
}


.rootComment-right span {
    color: rgb(255, 136, 0);
}

.rootComment-right {
    position: relative;
    float: right;
    width: 640px;
}

.rootComment-right>i {
    position: absolute;
    top: -7px;
    right: 3px;
    width: 50px;
    height: 25px;
    background-color: #dcdadc;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

.rootComment-right p {
    font-size: 16px;
    margin-top: 10px;
}

.rootComment-footer {
    float: left;
    width: 640px;
    margin-top: 20px;
    margin-left: 70px;
}

.commentOption {
    float: right;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #1abc9c;
}

.commentOption span:hover {
    cursor: pointer;
}

.secondaryComment {
    float: left;
    width: 640px;
    margin-left: 70px;
    margin-top: 15px;
}

.secondaryComment li{
    width: 100%;
    background-color: #eff0f2;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.secondaryComment li:first-child {
    border-radius: 10px 10px 0 0;
}

.secondaryComment li:last-child{
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.secondaryComment p{
    margin-bottom: 20px;
}

.secondaryComment p span {
    color:rgb(99, 99, 239);
}

.secondaryComment li .secondaryInput {
    display: none;
}

.secondaryComment .secondaryInput input {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cacaca;
}

.secondaryComment .secondaryInput input:focus {
    border-color: #25bb9b;
}

.secondaryComment .secondaryInput i {
    font-size: 18px;
    color: #999;
    font-weight: bold;
    margin-left: 5px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.secondaryComment .secondaryInput i:hover {
    cursor: pointer;
}

.secondaryComment .secondaryInput a{
    float: right;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #25bb9b;
    color: #fff;
    border-radius: 5px;
}

.secondaryComment .secondaryInput a:hover {
    cursor: pointer;
}

.jumpBar {
    position: relative;
    height: 35px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.jumpBar ul {
    height: 35px;
    display: inline-block;
}

.jumpBar ul li {
    float: left;
}
    
.jumpBar a {
    display: inline-block;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    /* border: 1px solid gray; */
    background-color: rgb(255, 208, 121);
    line-height: 35px;
    margin-left: 15px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 4px 3px 4px 1px #e9e7e7;
}

.jumpBar a:hover {
    cursor: pointer;
    background-color: rgb(255, 176, 29);
    border: 1px solid orange;
}
.jumpBar li:nth-child(n+2) {
    margin-left: 10px;
}

.jumpBar #turnLeft_fast {
    font-size: 21px;
}

.jumpBar #turnLeft {
    font-size: 14px;
}

.jumpBar #turnRight {
    font-size: 19px;
}

.jumpBar #turnRight_fast {
    font-size: 21px;
}

#rootInput {
    /* overflow: hidden; */
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 14px #eee;
    margin-top: 15px;
    font-size: 16px;
}

#rootInput textarea{
    width: 100%;
    /* background: #ccc; */
    resize: none;
    height: 50px;
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #666;
    outline: none;
}

#rootInput span i {
    position: relative;
    top: 1px;
    font-size: 20px;
    margin-right: 5px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#rootInput span{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 30px;
}

#rootInput span:hover {
    cursor: pointer;
}

#rootInput button {
    float: right;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    border-radius: 10px;
}

#postDetail-right {
    float: left;
    width: 400px;
    /* height: 499px; */
    margin-top: 102px;
    font-size: 14px;
    margin-left: 20px;
}

#postDetail-right-top {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 14px #eee;
    padding: 20px;
}

#postDetail-tools {
    width: 100%;
    height: 40px;
    /* background-color: pink; */
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

#postDetail-tools li{
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
    /* background-color: red; */
}

#postDetail-tools li:first-child {
    margin-left: 0;
}

#postDetail-tools li:nth-child(1) {
    color: rgb(255, 145, 164);
}

#postDetail-tools li:nth-child(2) {
    color: orange;
}

#postDetail-tools li:nth-child(3) {
    color: rgb(121, 109, 255);
}

#postDetail-tools li:nth-child(4) {
    color: #aaa;
}

#postDetail-tools li:nth-child(-n+3):hover {
    cursor: pointer;
}

#postDetail-tools li i {
    font-size: 25px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#postDetail-tools li span {
    position: relative;
    top: -2px;
    right: -2px;
}

#aboutMessage {
    width: 100%;
    /* background-color: pink; */
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#aboutMessage a {
    display: inline-block;
    width: 100px;
    height: 30px;   
    text-align: center;
    line-height: 28px;
    border: 1px solid red;
    color: red;
}

#aboutMessage a:first-child {
    margin-right: 60px;
    margin-left: 50px;
}

#aboutMessage a:hover {
    cursor: pointer;
    background-color: red;
    color: #fff;
}

#postDetail-right h3{
    color: rgb(246, 160, 0);
}

#recommendPost {
    width: 100%;
}

#recommendPost li {
    width: 100%;
    padding: 0 10px;
    /* background-color: red; */
    margin-top: 5px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
}

#recommendPost li p {
    font-size: 14px;
}

#recommendPost li p:hover{
    cursor: pointer;
    color: orange;
}

#recommendPost li:first-child {
    margin-top: 0;
    border-top: none;
}

#recommendPost li span:first-of-type{
    float: left;
}

#recommendPost li span:last-of-type {
    float: right;
}

#postDetail-right-bottom {
    position: relative;
    width: 100%;
    /* height: 400px; */
    margin-top: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 14px #eee;
    padding: 20px;
}

#postDetail-right-bottom h3 {
    color: rgb(0, 168, 246);
}

#postDetail-right-bottom ul {
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;
}

#postDetail-right-bottom ul li {
    float: left;
    width: 150px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    /* background-color: pink; */
    border-right: 1px solid #ccc;

}

#postDetail-right-bottom ul li:nth-child(-n+2) {
    margin-top: 0;
}


#postDetail-right-bottom ul li:nth-child(even){
    text-align: left;
    padding-left: 60px;
    border-right: none;
}

#timeCheck {
    position: absolute;
    top: 15px;
    right: 15px;
    /* width: 100px; */
    height: 25px;
    margin-top: 5px;
}

#timeCheck span {
    float: left;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: rgb(255, 203, 106);
    margin-right: 5px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

#timeCheck span:hover {
    cursor: pointer;
    background-color: orange;
}

.timeChecked {
    background-color: orange !important;
}